<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>ACES-ACM IIT Delhi</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- public/libraries CSS Files -->
  <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="./lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="./css/style.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/events.css">
</head>

<body>

  <header id="header">
    <% include ./header.ejs %>
  </header>
  <!-- #header -->

  <div class="container text-center">
    <h1>Events Timeline</h1>
    <p style="font-size:120%;">2017-18</p>
  </div>


  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
      <div class="timeline-img"></div>
      <% event.sort(function(a, b){ return a.order - b.order}).forEach(function(event, index) { %>
      <% if(index%2 == 0) {%>
                <div class="timeline-content js--fadeInLeft">
              <% } %>
      <% else {%>
      <div class="timeline-content js--fadeInRight">
      <% } %>
      <h2><%= event.name %></h2>
      <div class="date"><%= event.date %></div>
      <p><%= event.details %></p>
      </div>
      </div>
      </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
        <% include ./footer.ejs %>
  </footer>
  <!-- #footer -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  <script type="text/javascript" src="./js/events.js"></script>
</body>

</html>
